html {
    background-color: #0d1117;
    font-size: 16px;
    color: white;
    font-family: 'Exo 2';
}

body {
    height: 100vh;
    margin: 0;
}

.btn {
    margin: 50px;
    color: white;
    border-radius: 20px;
    background-color: #303035;
    width: 300px;
    height: 75px;
}

.btn:hover {
    transition: 1s;
    background-color: rgb(121, 121, 121);
    -webkit-transform: 10px;
    transform: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.outp {
    --s: 0.1em;
    --c: #2c4bff;
    
    color: whitesmoke;
    padding-bottom: var(--s);
    background: 
    linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 1s;
}

.outp {
    font-family: system-ui, sans-serif;
    font-size: 1.2em;
    cursor: pointer;
}

.outp:hover {
    --_p: 100%
}

.fixed_block {
    position: fixed;
    top: 30%;
    left: 40%; 
    width: auto; 
}

#outputPassword {
    width: 700px;
}

#lengthInput {
    width: 220px;
    margin-right: 250px;
}

#customSymbolsInput {
    width: 220px;
}

#customSymbolsButton, #customSymbolsInput {
    display: inline-block;
}